/* .Content{
  color: black;
}
.Footer{
  background-color: black;
  color: white;
}
.Navbar{
  background-color: black;
  color: white;
}
.Footer p
{
  margin-top:10px ;
  color:white;
}
.navbar li
{
  list-style: none;
  text-align: right;
  padding: 10px; ;
}
.Main
{
  border: 3;
  border-color: aqua;
} */